:root {
	--green: #6aaa64;
	--yellow: #c9b458;
	--grey: #787c7e;
	--red: #aa6464;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

	--main-background: #fff;
	--icon-color: invert(0%) sepia(7%) saturate(7474%) hue-rotate(42deg)
		brightness(95%) contrast(105%);
	--letter-box-border: #808080;
	--letter-box-filled: var(--grey);
	--letter-filled-color: #2c2b2b;
	--key-background: rgb(233, 233, 237);
	--key-letter: #000;
	--stat-background: #fff;
	--stat-text: #000;
	--seperator: var(--grey);
	--page-shadow: rgba(255, 255, 255, 0.749);
	--stat-shadow: 8px 8px 8px rgba(199, 198, 198, 0.779);
}
[data-theme="dark"] {
	--main-background: #121213;
	--icon-color: invert(100%) sepia(8%) saturate(0%) hue-rotate(157deg)
		brightness(107%) contrast(108%);
	--letter-box-border: #3a3a3c;
	--letter-box-filled: #393a3a;
	--letter-filled-color: #fff;
	--key-background: #818384;
	--key-letter: #fff;
	--stat-background: #121213;
	--stat-text: #fff;
	--seperator: #807f7f;
	--page-shadow: rgba(81, 80, 80, 0.749);
	--stat-shadow: 8px 8px 8px rgba(41, 39, 39, 0.779);
}
* {
	box-sizing: border-box;
}

body {
	background: var(--main-background);
}

h1,
p {
	text-align: center;
}

/* Header stylings */
h1 {
	margin: 0 1rem 0 1rem;
	color: var(--green);
}

h1 > span {
	font-size: 0.3em;
	color: var(--grey);
}

header > button {
	border: none;
	background-color: transparent;
}
header > button:hover {
	cursor: pointer;
}

#game-board {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 2rem;
	margin-bottom: 2rem;
	min-height: calc(18rem + 20px);
}

.letter-box {
	border: 1px solid var(--letter-box-border);
	border-radius: 3px;
	margin: 2px;
	font-size: 2rem;
	font-weight: 700;
	height: 3rem;
	width: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.filled-box {
	border: 1px solid transparent;
	color: var(--letter-filled-color);
}

.letter-row {
	display: flex;
}

/* KEYBOARD */
#keyboard-cont {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 4rem;
}

#keyboard-cont div {
	display: flex;
}

.keyboard-button {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 1.8rem;
	height: 3.2rem;
	font-size: 1rem;
	font-weight: 700;
	padding: 0.5rem;
	margin: 0 4px;
	cursor: pointer;
	text-transform: uppercase;
	user-select: none;
	background-color: var(--key-background);
	color: var(--key-letter);
}
.light-text {
	color: white;
}

.first-row,
.second-row,
.third-row {
	margin-bottom: 1rem;
}

button {
	border: none;
	border-radius: 0.2rem;
}

header {
	border-bottom: 1px solid var(--seperator);
	display: flex;
	justify-content: center;
	align-items: baseline;
	padding-bottom: 1rem;
}

.top-icon {
	width: 1.2rem;
	aspect-ratio: 1;
	margin: 0 1rem;
	filter: var(--icon-color);
}

#stat-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.back {
	z-index: -1000;
	visibility: hidden;
}
.forward {
	z-index: 1000;
	visibility: visible;
}

.statscreen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background: var(--page-shadow);
}

.statscreen > div {
	background: var(--stat-background);
	box-shadow: var(--stat-shadow);
	padding: 3rem;
	border: 8px solid var(--grey);
	border-radius: 6px;
	color: var(--stat-text);
}

#reset-button {
	background: var(--red);
	color: white;
	padding: 0.5rem 1rem 0.5rem 1rem;
	font-weight: bold;
	cursor: pointer;
	margin-top: 2rem;
}
#reset-button:hover {
	scale: 1.1;
}
.statscreen h2 {
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid var(--seperator);
}
.statscreen p {
	font-size: 1.2rem;
	min-width: 15ch;
	text-align: left;
}

.green-text {
	color: var(--green);
	/* text-shadow: 0px 0px 4px white; */
	background: #cdd0d1;
}
.red-text {
	color: var(--red);
	background: #cdd0d1;
}

/* DARK THEME SWITCH */
.theme-switch-wrapper {
	display: flex;
	align-items: center;
}
.theme-switch {
	display: inline-block;
	height: 34px;
	position: relative;
	width: 60px;
}

.theme-switch input {
	display: none;
}

.slider {
	cursor: pointer;
}
